@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat'), url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url(./fonts/RobotoSlab-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: local('Roboto Slab Bold'), url(./fonts/RobotoSlab-Bold.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #f5f6fa;
}

nav {
  width: 100%;
  min-height: 95px;
  background-color: #ffffff;
  display: flex;
}

img {
  width: 60%;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  width: 90%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
}

.flex-x {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-bookstore {
  min-height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin-right: 1em;
}

.links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu li {
  display: inline-block;
}

.books a {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 41px 0px 0;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.categories a {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 41px 0px 0;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 37px auto;
  border-radius: 4px;
  border: 20px solid #ffffff;
  background-color: #ffffff;
}

.book-child {
  flex: 1 1 33.3%;
}

.oval {
  width: 68px;
  height: 68px;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

.Rectangle-2 {
  width: 70%;
  height: 43px;
  margin: 12px 0;
  border-radius: 3px;
  background-color: #0290ff;
  border: 0;
}

.Current-Lesson {
  height: 21px;
  margin: 7px 0 4px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Current-Chapter {
  height: 18px;
  margin: 1px 0;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Update-progress {
  height: 18px;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

.Comments {
  height: 19px;
  margin: 3px 0 2px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.comments-border {
  border-right: 1px solid #e8e8e8;
}

.title {
  width: 197px;
  margin: 3px 0;
  font-family: 'Roboto Slab Bold', serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.School-of {
  width: 49px;
  height: 18px;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

@media screen and (min-width: 500px) {
  .book-container, .flex-x, .menu, form {
    flex-direction: row;
  }
}